.avatar {
    border-radius: 50%;
    margin: 0 1em 2em 0;
}

.personInfo {
    display: inline-block;
}

.personInfo h4 {
    color: #00B5D9;
}

.personInfo p {
    color: #C3C3C3;
    font-size: 10px;
}

.commentBox {
    direction: rtl;
    height: 50px;
    overflow-y: scroll;
}