.avatar {
    border-radius: 50%;
    margin: 0 1em 2em 0;
}

.personInfo {
    display: inline-block;
}

.personInfo h4 {
    color: #00B5D9;
}

.personInfo p {
    color: #C3C3C3;
    font-size: 10px;
}

.commentBox {
    direction: rtl;
    height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.commentBox::-webkit-scrollbar {
    width: 0.4em;
}
 
.commentBox::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.commentBox::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.commentBox h5 {
    padding: 0.5em;
    line-height: 1.6;
}

button  img {
    float: left;
    padding-right: 0.5em;
}

.commentLine {
    width: 540px;
    margin-top: 3.5em !important;
}

.bsReport {
    border: 0;
}

.bsReport:hover {
    background-color: white;
    color: #C3C3C3;
}

.replyC {
    color: black !important;
}

.replyBox span {
    color: #C3C3C3;
    margin: 0.5em;
    font-size: 12px;
    cursor: pointer;
}

.replyInput {
    text-align: center
}