.bsEdit {
    background-color: #393939 !important;
    opacity: 0.8;
    margin-right: 0.5em;
}

.bsEdit:hover {
    opacity: 1;
}

.bsGroup {
    padding-top: 0.7em;
    margin-bottom: 0.5em;
}

.commentInput {
    pa
}